/* 通用 */
.flex {
	display: flex;
	flex-direction: row;
}
.flex-1 {
	flex: 1;
}
.flex-center {
	align-items: center;justify-content: center;display: flex;
}

/* 分割线 */
.divider {
	background-color: #f3f3f3;
	width: 750rpx;
	height: 17rpx;
}