/* 通用 */
.flex {
	display: flex;
	flex-direction: row;
}

.flex-1 {
	flex: 1;
}

.flex-center {
	align-items: center;
	justify-content: center;
	display: flex;
}

/* 分割线 */
.divider {
	background-color: #f3f3f3;
	width: 750rpx;
	height: 17rpx;
}


/* 登录相关 */
.login-page {
	flex: 1;
	padding: 0 48rpx;
}

.login-title {
	margin-top: 70rpx;
	font-size: 30px;
	font-weight: bold;
}

/* 底部 */
.login-bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
}

.input-tip {
	color: #8d8d8d;
	font-size: 12px;
	margin-top: 25rpx;
	line-height: 1.5;
}